body{
background-size:cover;
}
.heading{
    font-size: 24px;
    width: 100%;
    margin: 0;
}
#start{
    font-size: 20px;
}
#number_of_object
{
  font-size: 18px;  
}
#status
{
  font-size: 18px;  
}
.copy_right_footer{
position: fixed;
color: white;
bottom: 0;
background-color: rgb(255, 0, 221);
line-height: 3;
text-align: center;
width: 100%;
}
#important{
  font-size: 15px;
  color: black;
}
#object_name{
  color: rgb(0, 0, 0);
}
#canvas{
  text-align: center;
}























































































